textarea { width: 100%;}

div.history {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr 3fr;
    grid-template-rows: 1fr;
    gap: 0.5% ;
    /* grid-template-areas: ". . ."; */
}

div.history:hover,
div.history div:hover { background-color: #969696;}

select {
    font-size: 20px;
}

div.oik-ai { width: 90%;
    margin: 0 auto;
}

input[type="submit"] {
    padding: 10px 20px;
    margin-right: 15px;
}

img { display: block;
}

.thumbnail {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
    grid-gap: 10px;
}

.thumbnail img {
    width: 100%;
    max-height: 256px;
    object-fit: cover;
}

.oik-ai img {
    width: 75%;
    margin: 0 auto 20px auto;
}

div label { margin-top: 20px; padding-top: 10px; }

div.system_message textarea, div.user_message textarea {
    border: 1px solid #a1a1a1;;
    border-radius: 16px;
    padding: 10px;
}
